* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: floralwhite;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	font-family: 'Droid Sans', sans-serif;
	background-color: #111;
	background-size: cover;
	z-index: 9;
}

#container {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

#input-note {
	font-size: 0.9rem;
	font-style: italic;
}

.disclaimer {
	font-style: italic;
}

.header {
	margin-top: 15px;
}

.button {
	border-radius: 8px;
	height: 30px;
	line-height: 30px;
	background-color: #FF8033;
	color: #111;
	margin: auto;
	text-align: center;
}

.button:hover {
	background-color: #CD5105;
	cursor: pointer;
}

#result {
	margin-top: 20px;
	font-size: 1.6rem;
}

#about-button {
	width: 100px;
	position: absolute;
	top: 10px;
	right: 5px;
}

/* Modal code following a W3 schools tutorial because trying to do it on my own took too long for a silly project */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  position: relative;
  background-color: grey;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

#modal-btn {
	margin-top: 20px;
	width: 250px;
}

#choice-submit {
	width: 300px;
}

.invisible {
	display: none;
}

.space {
	height: 15px;
}

#choices-input {
	height: 200px;
	width: 300px;
}

#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 15px;
	font-size: 0.8rem;
	z-index: 1;
	text-align: center;
	color: #5b5c5e;
}

@media only screen and (min-width: 700px) {
	body {
		font-size: 1em;
	}

	#input-note {
		font-size: 0.8rem;
	}

	#choices-input, #choice-submit {
		width: 400px;
	}
}